################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ICR.WebApi/.vs
/ICR.WebApi/ICR.WebApi/obj/Debug/net9.0
/ICR.WebApi/ICR.Model/bin/Debug/netstandard2.1
